/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
:root {
  --white: #fafafa; /* back ground */
  --light-grey: #bdbdbd; /* button */
  --grey: #757575; /* url */
  --light-cyan: #e0f7fa; /* item */
  --cyan: #b2ebf2; /* item:hover, refresh*/
  --dark-cyan: #80deea; /* refresh:hover */
}

html {
  /* 禁止滚动条出现 */
  overflow: hidden;
  font-size: 62.5%;
  background-color: var(--white);
}

body {
  width: 30rem;
}

.hidden {
  display: none;
}

.hidden > p {
  font-size: 1.2rem;
  color: var(--grey);
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}

button {
  background-color: var(--cyan);
  cursor: pointer;
  border: none;
}

button:hover {
  color: var(--white);
  background-color: var(--light-grey);
}

.item {
  height: 2.7rem;
  font-size: 1.8rem;
  margin: 0.8rem auto;
  padding: 0.4rem;
  text-align: center;
  background-color: var(--light-cyan);
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover {
  font-size: 1.6rem;
  background-color: var(--cyan);
  height: 6.3rem;
}

/* https://stackoverflow.com/a/17393262 */
.item:hover .hidden {
  display: block;
}

.error {
  text-align: center;
  font-size: 1.8rem;
}

#refresh {
  margin: 0.8rem auto;
  padding: 0.4rem;
  font-size: 1.4rem;
  text-align: center;
  background-color: var(--cyan);
}

#refresh button {
  background-color: var(--dark-cyan);
}

#refresh button:hover {
  background-color: var(--light-grey);
}

#refresh:hover {
  background-color: var(--dark-cyan);
}

#refresh:hover .hidden {
  display: block;
}

#refresh:hover .show {
  display: none;
}
